apiVersion: v1
kind: Service
metadata:
  name: freeradius-service
  namespace: free-radius
  labels:
    app: free-radius
    env: production
    tier: backend
spec:
  type: LoadBalancer
  selector:
    app: free-radius
  ports:
  - name: radius-auth
    port: 1812
    targetPort: 1812
    protocol: UDP
  - name: radius-acct
    port: 1813
    targetPort: 1813
    protocol: UDP
